In [4]:
import pandas as pd
import numpy as np
from shapely.wkt import loads
from matplotlib.patches import Polygon
import matplotlib.pyplot as plt

df = pd.read_csv('../input/train_wkt_v2.csv')
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ImageId</th>
      <th>ClassType</th>
      <th>MultipolygonWKT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6040_2_2</td>
      <td>1</td>
      <td>MULTIPOLYGON EMPTY</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6040_2_2</td>
      <td>2</td>
      <td>MULTIPOLYGON EMPTY</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6040_2_2</td>
      <td>3</td>
      <td>MULTIPOLYGON EMPTY</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6040_2_2</td>
      <td>4</td>
      <td>MULTIPOLYGON (((0.003025 -0.007879000000000001...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6040_2_2</td>
      <td>5</td>
      <td>MULTIPOLYGON (((0.005311 -0.009044999999999999...</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df['ImageId'].unique()

array(['6040_2_2', '6120_2_2', '6120_2_0', '6090_2_0', '6040_1_3',
       '6040_1_0', '6100_1_3', '6010_4_2', '6110_4_0', '6140_3_1',
       '6110_1_2', '6100_2_3', '6150_2_3', '6160_2_1', '6140_1_2',
       '6110_3_1', '6010_4_4', '6170_2_4', '6170_4_1', '6170_0_4',
       '6060_2_3', '6070_2_3'], dtype=object)

In [27]:
df1 = pd.read_csv('../input/grid_sizes.csv')
all_images = df1['Unnamed: 0'].unique()
df = pd.read_csv('../input/train_wkt_v2.csv')
test_images = df['ImageId']
print test_images.unique()
[x for x in all_images if x not in np.asarray(test_images)]

['6040_2_2' '6120_2_2' '6120_2_0' '6090_2_0' '6040_1_3' '6040_1_0'
 '6100_1_3' '6010_4_2' '6110_4_0' '6140_3_1' '6110_1_2' '6100_2_3'
 '6150_2_3' '6160_2_1' '6140_1_2' '6110_3_1' '6010_4_4' '6170_2_4'
 '6170_4_1' '6170_0_4' '6060_2_3' '6070_2_3']

428

numpy.ndarray